[submodule "containers"]
	path = containers
	url = git@github.com:ReproNim/containers.git
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = "git@github.com:ReproNim/containers.git"
[submodule "code/bids-apps_freesurfer"]
	path = code/bids-apps_freesurfer
	url = git@github.com:Shotgunosine/freesurfer.git
	datalad-url = git@github.com:Shotgunosine/freesurfer.git
	datalad-id = ec445590-7cca-4474-ae95-b4ee340b233f
[submodule "sourcedata/cneuromod.anat.gradcorrect"]
	path = sourcedata/cneuromod.anat.gradcorrect
	url = git@github.com:courtois-neuromod/anat.gradcorrect.git
	datalad-id = 05db4981-28dd-4404-a8d2-d3adc4322392
	datalad-url = git@github.com:courtois-neuromod/anat.gradcorrect.git
