[submodule "containers"]
	path = containers
	url = git@github.com:ReproNim/containers.git
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = "git@github.com:ReproNim/containers.git"
[submodule "code/bids-apps_freesurfer"]
	path = code/bids-apps_freesurfer
	url = git@github.com:Shotgunosine/freesurfer.git
	datalad-url = git@github.com:Shotgunosine/freesurfer.git
